
.axure {
    padding: 58px 0;
    position: relative;
    background: url("../img/background\ 1.png") /*no-repeat center*/;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.axure::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* display: block; */
    background-color: rgba(0, 0, 0, 0.55);
    
}
.axure-title {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    color: #ffffff;
    /* color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    margin-bottom: 34px;
    position: relative;
    z-index: 1;
    
}
.axure-title::after {
    content: "";
    width: 64px;
    height: 2px;
    margin: 34px auto 0;
    background: #ffffff;
    /* color: rgba(255, 255, 255, 0.8); */
    display: block;
    
    
}
.axure-description {
    text-align: center;
    margin-bottom: 57px;
    
}
.axure-description p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
    
}

.container-a {
    /* position: relative;
    background-color: url("../img/background\ 1.png") no-repeat center;
    background-size: cover; */
    text-align: center;
    
}
.container-a:hover {
    /* content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.55); */
}
.link-download a {
   /* cursor: pointer;  */
   color: #ffffff;
   /* color: rgba(255, 255, 255, 0.8); */
   font-size: 18px ;
   display: block;
   text-align: center;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   margin: auto;
   padding: 11px 26px;
   width: 135px;
   height: 42px;
   border: 1px solid rgba(255, 255, 255, 0.8);
   position: relative;
   z-index: 1;

   
/* box-sizing: border-box; */
 }
 
.link-download a:hover {
   
    position: relative;
    font-size: 16px;
    bottom: 4px;
    
    background: rgba(0, 0, 0, 0.4);
    color: rgba(231, 36, 36, 0.8);
    border: 1px solid rgba(231, 36, 36, 0.8);
    transition: 0.3s;
    
}
.link-download a:active {
    position: relative;
    top: 4px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
}