.main {
    background: #F5F5F5;
}

.main-title {
    text-align: center;
    padding-top: 80px;
    margin: 0 auto 34px;
    font-family: 'Raleway';
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #212121;
}

.main-description {
}
.main-description p {
    font-family: 'Open Sans';
     font-size: 14px; 
     text-align: center;
     font-weight: 400;
     color: #86878B;
     margin: 0 auto 62px;
}
.main-wrap {
    text-align: center;
    
    padding: 0px 113px 58px 113px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
    
    
}
.main-price {
    /* border: 1px solid red; */
    width: 340px;
   
   /* margin-bottom: 60px; */
   /* padding-bottom: 60px; */

}
.price-tarif {
    /* border: 1px solid blue; */
    height: 50px;
    margin-bottom: 2px;
padding: 10px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: #333333;
    
}
.price-cost {
    /* border: 1px solid blue; */
    height: 100px;
    margin-bottom: 2px;
padding: 30px;
    font-family: 'Raleway';
    font-size: 35px;
    font-weight: 700;
    color: #FFFFFF;
    background: #333333;

}
.price-info {
    /* border: 1px solid blue; */
    height: 50px;
    margin-bottom: 2px;
padding: 10px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    background: #333333;
}
.price-space {
    /* width: 340px; */
    /* align-items: center;
    justify-content: center; */
}

.price-space li{
    /* border: 1px solid green; */
    height: 40px;
    margin-bottom: 2px;
padding: 10px;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    background: #FFFFFF;
}